* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    color: #303030;
}
a {
  color: #303030; 
  text-decoration: none;
}
a:hover {
  color: #E26E84; 
  transition: 0.3s;
}
.bodyheading {
  font-family: 'Oswald';
  font-size: 1.5em;
  margin-left: 15%;
}
h2 {
   font-size: 1em;
   text-align: center;
   margin-top: 0%;
   letter-spacing: 0em;
}
h3 {
  font-family: 'Oswald';
  margin-left: 15%;
  font-size: 1.2em;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0em;
  margin-top: 8%;
}
hr {
  width: 53%;
  margin-left: 30%;
  margin-top: -2.5%;
}
h4 {
  font-family: 'Oswald';
  font-weight: 400;
  display: inline-block;
  margin-right: 45%;
}
h5 {
    font-family: 'Oswald';
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 8%;
    font-size: 3em;
}
h6 {
    font-family: 'Oswald';
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.3em;
    margin-bottom: 0%;
}
p {
   text-align: justify;
   margin-top: 1%;
   margin-left: 15%;
   width: 45%;
}
.p2 {
   text-align: justify;
   margin-top: 1%;
   margin-left: 29.2%;
   width: 40%;
}
.p3 {
   text-align: center;
   margin-top: 0%;
}
.links {
  display: inline-block;
  margin-left: 5%;
  font-family: 'Oswald';
  font-weight: 300;
  margin-top: 7%;
}
.links2 {
  display: inline-block;
  margin-left: 5%;
  font-family: 'Oswald';
  font-weight: 300;
  margin-left: 43em;
  margin-top: 7%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  text-align: center;
  padding: 35% 0% 30% 0%;
  background:rgba(71,69,66,0.7);
  text-align: center;
  font-family: 'Oswald';
  font-size: 2em;
  color: #fff;
}
.overlay a {
    color: #fff;
}
.work1:hover .overlay {
  opacity: 1;
}
.work2:hover .overlay {
  opacity: 1;
}
.work3:hover .overlay {
  opacity: 1;
}
.work1 {
  width: 23em;
  padding: 11% 0% 11% 0%;
  border: 1px solid #ddd;
  display: inline-block;
  background: url('/images/cloud9.png') no-repeat;
  background-size: cover;
  background-position: 47%;
  margin-left: 7%;
  position: relative;
}
.work2 {
  width: 23em;
  padding: 11% 0% 11% 0%;
  border: 1px solid #ddd;
  display: inline-block;
  background: url('/images/bobos.png') no-repeat;
  background-size: 118%;
  background-position: 45%;
  position: relative;
}
.work3 {
  width: 23em;
  padding: 11% 0% 11% 0%;
  border: 1px solid #ddd;
  display: inline-block;
  background: url('/images/modelbox.png') no-repeat;
  background-size: 115%;
  background-position: 47% 47%;
  position: relative;
}
i {
  font-size: 2em;
  margin-bottom: 2%;
  margin-left: 50%;
}
i:hover {
  color: #E26E84;
  transition: 0.3s;
}
footer {
  font-size: 0.8em;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 1%;
}

/* Larger than mobile */
@media (max-width: 500px) {
    .work1 {
  padding: 60% 0% 11% 0%;
  margin-left: 6.7%;
}
.work2 {
  padding: 60% 0% 11% 0%;
  margin-left: 6.7%;
}
.work3 {
  padding: 60% 0% 11% 0%;
  margin-left: 6.7%;
}
.links2 {
  margin-left: 14%;  
}
.links {
  margin-top: 21%;
}
.eleven.columns {
  width: 50%;   
}
.one.column {
  width: 50%;  
}
h2 {
  width: 70%;  
  margin-left: 15%;
}
h3 {
  margin-left: 7%; 
  margin-top: 10%;
}
hr {
  width: 53%;
  margin-left: 37%;
  margin-top: -7.5%;      
}
p {
  width: 83%;   
  margin-left: 7%;
}
.p2 {
  width: 83%;
  margin-left: 8%;
}
.bodyheading {
  margin-left: 7%;
  margin-bottom: 5%;
}
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
